
:root {
  --background: #fffdfb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fffdfb;
  }
}

html,
body {
  margin:    0 auto;
  max-width: 1100px;
  overflow-x: hidden;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0px 0px 8px #dbdbdb;
  overflow: hidden;
}

footer {
  background: #fbe9cd;
  background: linear-gradient(0deg, #f5cfc8 56%, #fff5ed 90%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 30px;
  padding-left: 90px;
  padding-right: 90px;
}

@media (max-width: 600px) {
  section {
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

p {
  text-align: justify;
  text-justify: inter-word;
}